@model Cumulative01.Models.Teacher;

<li>
<h1> Professor ID: <bold> @Model.TeacherId </bold> </h1>
</li>
<li>
<p>  First Name: <bold> @Model.TeacherFirstName </bold></p>
</li>
<li>
<p>	 Last Name: <bold> @Model.TeacherLastName </bold></p>
</li>
<li>
<p>	 Employee ID: <bold> @Model.EmployeeID </bold></p>
</li>
<li>
<p>	Joined On: <bold> @Model.HireDate </bold></p>
</li>
<li>
<p>	Income:<bold> @Model.Salary </bold></p>
</li>